<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47659406314-0ltrvi005nae12vrg08ct41otvltgvfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47659406314-0ltrvi005nae12vrg08ct41otvltgvfe</string>
	<key>API_KEY</key>
	<string>AIzaSyAluRJeceXa72flmm7_j0dR2HQoboC56L0</string>
	<key>GCM_SENDER_ID</key>
	<string>47659406314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Micheduc25.studenttracker.studentTracker</string>
	<key>PROJECT_ID</key>
	<string>student-tracker-36278</string>
	<key>STORAGE_BUCKET</key>
	<string>student-tracker-36278.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47659406314:ios:87a7b47a8d4d91d7f75893</string>
</dict>
</plist>